/* TasksComponent's private CSS styles */
.heroes {
  margin: 2em;
}





button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}

agm-map {
  margin: 1rem;
  height: 400px;
}